.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

    .logo {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }

    .loading {
        position: absolute;
        bottom: 12%;
        width: 73px;
        height: 81px;
        animation: loading 1.5s infinite linear;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@keyframes loading {
    0% { transform: rotate(0deg); };
    100%{ transform: rotate(360deg); }
}